/*一、企业列表*/

.list_base1{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base1 dl{width:16%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base1 .list_active1 a{ color: #01458d;}
.list_base1 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base1 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

.area_choice{ width: 950px; height:auto; display: block; overflow: hidden; float: left; margin-top:30px;}
.area_choice *{ float: left;}
.area_choice .area_text{ width:160px; height: 24px; margin-left: 30px;border:#999999 1px solid;}
.area_choice .area_Btn01{ width:26px; height: 26px; background: white url(../images/search_area_l.png) no-repeat center; border:#999999 1px solid;}
.area_choice .area_Btn02{ width:80px; height: 26px; border: none; background: #e67817; line-height: 26px; color: white; margin-left: 20px;}
.area_choice select{ width:140px; height: 26px; margin-left: 14px;}
.area_choice span{ width:60px; height:26px; line-height: 26px; font-size: 14px; margin-left: 20px;}

.area_choice_two{ width: 950px; height:auto; display: block; overflow: hidden; float: left; margin-left:30px; margin-top: 10px;}
.area_choice_two *{ float: left;}

.area_choice_two span{ margin-right: 10px;}


/*二、活动列表*/

.list_base0{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base0 dl{width:300px; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base0 .list_active0{width:330px;}
.list_base0 .list_color_blue{width:100px;}
.list_base0 .list_color_yellow{width:100px;}
.list_base0 .list_color_green{width:100px;}
.list_base0 .list_active0 a{ color: #01458d;}
.list_base0 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base0 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*列表颜色*/
.list_color_blue a{color:#0ab2cb}
.list_color_yellow a{color:#e67817}
.list_color_green a{color:#529c15}

/*三、预选项目*/
.list_base2{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base2 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base2 .list_active2 a{ color: #01458d;}
.list_base2 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base2 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}
.list_base2 dl dd input{ float: left; width: 14px;height: 14px; margin-left: 10px; margin-top: 13px;}

.area_add_btn{margin-left: 20px;}
.area_add_btn input{ width:100px; height: 30px; border: none; border-radius: 6px; background: #e67817; color: white; margin-top: 20px; /*margin-left: 20px;*/ font-size: 14px; *+margin-left:40px;}

.area_save_btn{cursor:pointer;width:60px; height: 30px; border: none; border-radius: 6px; background: #e67817; color: white; margin-top: 20px; margin-left: 45%; margin-bottom:10px;font-size: 14px;}   /*zhangji*/
.area_save_btn:hover{background:#FF0F00;}
.area_batch {cursor: pointer; width: 92px;height: 30px;  border: none;  border-radius: 6px;  background: #e67817;  color: white;  margin-top: 20px;  margin-left: 5%;  font-size: 14px;}
.area_batch:hover{background:#FF0F00;}

/*四、推荐项目*/
.list_base3{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base3 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base3 .list_active3 a{ color: #01458d;}
.list_base3 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base3 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}
.list_base3{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}

.list_base4{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base4 dl{width:20%; height:auto; display: block; overflow: hidden;float: left; text-align: center; margin-top: 20px;}
.list_base4 .list_active3 a{ color: #01458d;}
.list_base4 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base4 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}


.area_save_btn01{ cursor:pointer; width:260px; height: 30px; border: none; border-radius: 6px; background: #e67817; color: white; margin-top: 20px; margin-left: 20px; font-size: 14px;}

.area_up{ width: 950px; height: auto; display: block; overflow: hidden; float: left;}
.area_up dt{width: 950px; height: auto; display: block; overflow: hidden; float: left;}
.area_up dd{width: 950px; height: auto; display: block; overflow: hidden; float: left;}


.area_push_reason input{ width:98%; height: 30px;}


/*五、活动详情*/
.active_text{width：100%; height:auto; display: block; overflow: hidden;}
.active_text dt{ width:100%; height: 40px; padding: 8px 0; margin-top: 20px;}
.active_text .dt01{background: #01458d;}
.active_text .dt02{background: #e67817;}
.active_text .dt03{background: #529c15;}
.active_text .dt04{background: #0ab2cb;}
.active_text dt span{ color: white; font-size: 14px; margin-left: 30px;}
.active_text dt p{ color: white; margin-left: 30px; }
.active_text dd{ width:950px; height:auto; display: block; overflow: hidden;}
.active_text dd div{ width:950px; margin-top: 10px; overflow: hidden;}
.active_text dd div span{width:120px; display: block; float: left; text-align: right; font-size: 14px;}
.active_text dd div p{width:auto; height:20px; display: block; float: left; text-align: right; margin-left: 10px;;}
.active_text dd div input{ margin-left: 20px; float: left; height:26px; line-height:26px; width:170px;}
.active_text dd div input disabled{disabled;}
.active_text dd div textarea{ margin-left: 20px; float: left; width:485px; height:200px;}
.active_text dd div select{ margin-left: 20px; float: left;}
.active_text .dt05{ width:100%; height:40px;margin-bottom: 30px;}
.active_text .dt05 input{ display: block; height:40px; width:60px; border-radius: 8px; margin: 0 auto; line-height:40px; border: none; background: #e67817; color: white; font-size: 14px; }

.active_add_text{width:800px; height:auto; display: block; overflow: hidden; margin-left: 128px;}
.active_add_text li{ width:800px; height:30px; float: left;}
.active_add_text li img{width:30px; float: left; margin-top: 10px;;}
.active_add_text li .p01{ float: left; display: block; height:30px; line-height: 30px;}
.active_add_text li a{width:60px; height:30px; float: left; display: block; color: #01458d; line-height: 30px; margin-left:60px ;}

.active_project_text{width:800px; height:auto; display: block; overflow: hidden; margin-left: 128px;}
.active_project_text li{ width:800px; height:30px; float: left;}
.active_project_text li img{width:30px; float: left; margin-top: 10px;;}
.active_project_text li .p01{ float: left; display: block; height:30px; line-height: 30px; }
.active_project_text li .p02{ float: left; display: block; height:30px; line-height: 30px; }
.active_project_text li a{float: left; display: block; height:30px; line-height: 30px; color: #01458d; }


/*七、档案跟踪*/
.list_base5{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base5 dl{ height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base5 .list_active5 a{ color: #01458d;}
.list_base5 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base5 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*八、档案跟踪*/
.change_inform{ width:950px; height:40px; float:left; background:#ffffff; line-height: 40px;;}
.change_inform span{ float: left; display: block; font-size: 16px; margin-left: 20px;}
.change_inform input{ float: right; font-size: 12px; height:30px; width:108px; line-height: 30px; margin-right: 20px; margin-top: 5px; border-radius: 6px; border: none; color: white; background: #e67817;}

.apply_change{width：100%; height:auto; display: block; overflow: hidden;}
.apply_change dt{ width:100%; height: 40px; padding: 8px 0; margin-top: 20px; background: #80a2c6;}
.apply_change dt span{ color: white; font-size: 14px; margin-left: 30px;}
.apply_change dt p{ color: white; margin-left: 30px; }
.apply_change dd{ width:950px; height:auto; display: block; overflow: hidden;}
.apply_change dd div{ width:950px; margin-top: 10px; overflow: hidden;}
.apply_change dd div span{width:120px; display: block; float: left; text-align: right;}
.apply_change dd div p{width:auto; height:20px; display: block; float: left; text-align: right; margin-left: 10px;;}
.apply_change dd div input{ margin-left: 20px; float: left; height:26px; line-height:26px; width:170px; }
.apply_change dd div input disabled{disabled;}
.apply_change dd div textarea{ margin-left: 20px; float: left; width:400px; height:200px;}
.apply_change dd div select{ margin-left: 20px; float: left;}
.apply_change .dt05{ width:100%; height:40px;margin-bottom: 30px;}
.apply_change .dt05 input{ display: block; height:40px; width:60px; border-radius: 8px; margin: 0 auto; line-height:40px; border: none; background: #e67817; color: white; font-size: 14px; }

.expert_date{width: 950px; margin-left:30px;height: auto; display: block; overflow: hidden; float: left;  margin-top: 30px;}
.expert_date dd{width:100%;height: auto; padding:10px 0; display: block; overflow: hidden; float: left; margin-top: 10px; background: white; padding-left: 10px;}
.expert_date dd span{ float: left; font-size: 14px; display: block; width:6%;}
.expert_date dd p{ float: left;}
.expert_date dt{ wdith:100%; height: auto; padding:10px 0; display: block;  float: left; margin-top: 30px; }
.expert_date dt span{ font-size: 14px;  float: left;}
.expert_date dt textarea{width:600px; height:300px ; margin-left: 10px;}
.expert_date dt input{ clear: both; display: block; margin-left: 68px; width:60px; height:30px; margin-top: 10px; border: none; border-radius: 6px; background: #e67817; color: white;}

