@charset "utf-8";
/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #666666;font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size: 12px;background:#f7f8fa;text-align:left;position:relative; line-height:18px;}
img {border: 0;position:relative;}
.clear {height:0px;line-height:0px;font-size:0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word;position:relative; border:none;}
a {color:#666666;text-decoration: none;position:relative;cursor:pointer;}
header, footer, nav, section, article, menu, aside {  display:block;position:relative;  } 
textarea { resize:none;}
table { border-collapse:collapse;border-spacing:0;}
th , td {
	text-align: center;
}
div{ margin:0 auto;}
.wrapper{ width:1200px; display:block; overflow:hidden;}
.w100{ width:100%; display:block; overflow:hidden;}

.top10{ margin-top:10px;}
.top20{ margin-top:20px;}
.top30{ margin-top:30px;}

.addcartorange{ display:block; width:136px; height:40px; border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; background:#ef7c00; text-align:center; color:#fff; float:left; font-size:16px; text-decoration:none; line-height:40px;}


/*header*/
body{ background-color:white;}
.header{ height:146px; width:1200px;}
.logo{ float:left; margin-top:30px; width:407px; height:97px;}
.search { float:left ; margin-left:200px; margin-top:87px; _margin-left:100px; *+margin-left:100px;}
.search input{ height:39px; width:214px; border:#008e45 1px solid; float:left; line-height:40px; color:#999999;}
.search btn{ height:40; width:51px; float:left;}
.share{ float:left; margin-left:37px; width:160px; height:70px; margin-top:20px;}
.share_icon{ float:left; width:160px; float:left; }
.share_icon img{ padding:0 4px;}
.share p{ color:#f38d05; float:left;}
.mark{ float:right; margin-top:20px;}
.mark p{ margin-top:4px;color:#f38d05;}

/*nav*/
.main_nav{ width:100%; height:40px; background-image:url(../images/nav_bacimg.png);}
.right_nav{ width:1200px; }
.nav{ height:40px; float:left;}
.nav li{ float:left; padding:0 30px; height:40px; line-height:40px; text-align:center; background:url(../images/nav_line.png) no-repeat right;}
.nav a{ font-size:14px; color:#333333;}
.nav_color{background-color:#a2c724;}
.nav li:hover{ background-color:#008e45;}
.nav a:hover{ color:white;}



/*footer*/
.footer{ width:100%; background-color:#33a56a; display:block; overflow:hidden; margin-top:30px; padding-bottom:20px;}
.footer_box{ width:1200px; margin:0 auto; overflow:hidden;}
.footer_box a{ color:white; font-size:14px;}
.footer_box_01{float:left; width:1200px;  padding-top:30px;}
.footer_box_01 img{ float:left;  width:190px; height:73px; margin-bottom:20px; }
.footer_coperit{ float:right; margin-top:38px; text-align:right;}
.footer_coperit li{ float:left; padding:0 10px;}
.footer_box_02{ float:left; width:1200px;   border-bottom:#3786c1 1px solid;}
.footer_box_03{float:left;width:1200px; margin-top:20px;  text-align:center; margin-bottom:20px; }
.footer_box_04{float:left;width:1200px; text-align:center; margin:10px 0px;}
.footer_box_05{float:left;width:1200px;  text-align:center; margin:10px 0px;}

/*page*/
.page{float:right; height:30px;margin-top:20px;margin-right:12px;}
.disabled { color: #999; background: #fff; }
.current { color: #fff; background: #EA5D0E; border-color: #EA5D0E; }
.default { margin: 0; padding: 0;}
.default a{margin-right:5px;}



