@charset "utf-8";
/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #666666;font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size: 12px;background:#f7f8fa;text-align:left;position:relative; line-height:18px;}
img {border: 0;position:relative;}
.clear {height:0px;line-height:0px;font-size:0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word;position:relative; border:none;}
a {color:#666666;text-decoration: none;position:relative;cursor:pointer;}
header, footer, nav, section, article, menu, aside {  display:block;position:relative;  } 
textarea { resize:none;}
table { border-collapse:collapse;border-spacing:0;}
th , td {
	text-align: center;
}
div{ margin:0 auto;}
.wrapper{ width:1200px; display:block; overflow:hidden;}
.w100{ width:100%; display:block; overflow:hidden;}

.top10{ margin-top:10px;}
.top20{ margin-top:20px;}
.top30{ margin-top:30px;}

.addcartorange{ display:block; width:136px; height:40px; border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; background:#ef7c00; text-align:center; color:#fff; float:left; font-size:16px; text-decoration:none; line-height:40px;}


/*header*/
body{ background-color:white;}
.header{ height:146px; width:1200px;}
.logo{ float:left; margin-top:30px; width:407px; height:97px;}
.search { float:left ; margin-left:200px; margin-top:87px; _margin-left:100px; *+margin-left:100px;}
.search input{ height:39px; width:214px; border:#008e45 1px solid; float:left; line-height:40px; color:#999999;}
.search btn{ height:40; width:51px; float:left;}
.share{ float:left; margin-left:37px; width:160px; height:70px; margin-top:20px;}
.share_icon{ float:left; width:160px; float:left; }
.share_icon img{ padding:0 4px;}
.share p{ color:#f38d05; float:left;}
.mark{ float:right; margin-top:20px;}
.mark p{ margin-top:4px;color:#f38d05;}

/*nav*/
.main_nav{ width:100%; height:40px; background-image:url(../images/nav_bacimg.png);}
.right_nav{ width:1200px; }
.nav{ height:40px; float:left;}
.nav li{ float:left; padding:0 30px; height:40px; line-height:40px; text-align:center; background:url(../images/nav_line.png) no-repeat right;}
.nav a{ font-size:14px; color:#333333;}
.nav_color{background-color:#a2c724;}
.nav li:hover{ background-color:#008e45;}
.nav a:hover{ color:white;}



/*footer*/
.footer{ width:100%; background-color:#33a56a; display:block; overflow:hidden; margin-top:30px; padding-bottom:20px;}
.footer_box{ width:1200px; margin:0 auto; overflow:hidden;}
.footer_box a{ color:white; font-size:14px;}
.footer_box_01{float:left; width:1200px;  padding-top:30px;}
.footer_box_01 img{ float:left;  width:190px; height:73px; margin-bottom:20px; }
.footer_coperit{ float:right; margin-top:38px; text-align:right;}
.footer_coperit li{ float:left; padding:0 10px;}
.footer_box_02{ float:left; width:1200px;   border-bottom:#3786c1 1px solid;}
.footer_box_03{float:left;width:1200px; margin-top:20px;  text-align:center; margin-bottom:20px; }
.footer_box_04{float:left;width:1200px; text-align:center; margin:10px 0px;}
.footer_box_05{float:left;width:1200px;  text-align:center; margin:10px 0px;}


/*通用右边栏*/
.main{ width:1200px; display:block; overflow:hidden;}

/*左容器*/
.left_content{width:295px; display:block; overflow:hidden;float:left; margin-top:20px; }

/*左导航*/
.leftbar{width:295px; display:block; overflow:hidden; float:left; background-color:#85ce58;}
.leftbar dt{width:295px; height:78px; text-align:center; padding-top:30px;}
.leftbar dt a{ font-size:40px; color:#f38d05;}
.leftbar dt p{ color:#f38d05; font-size:20px; margin-top:10px; _margin-top:20px; *+margin-top:20px;}
.leftbar dd{ line-height:50px; text-align:center; height:50px;}
.leftbar_color{background-color:#008e45;}
.leftbar dd a{ font-size:20px; color:white;}

/*开展课程*/
.course{ width:293px; display:block; overflow:hidden; float:left; border:1px #acd7c1 solid; margin-top:20px;}
.course dt{width:270px; height:54px; margin-left:12px; line-height:54px; float:left; border-bottom:1px #acd7c1 solid; _margin-left:5px;}
.course dt a{ float:left; display:block; background:url(../images/about_icon.png) no-repeat left; padding-left:30px; font-size:20px; color:#333333;}
.course dt p{ float:right; color:#999999;}
.course dd{ height:34px; width:293px; line-height:px; float:left; line-height:34px; text-align:left;}
.course dd a{ background:url(../images/about_guide.png) no-repeat left; padding-left:22px; margin-left:13px;}

/*联系方式*/
.call{ width:293px; display:block; overflow:hidden; float:left; border:1px #acd7c1 solid; margin-top:20px;}
.call dt{width:270px; height:54px; margin-left:12px; line-height:54px; float:left; border-bottom:1px #acd7c1 solid; _margin-left:5px;}
.call dt a{ float:left; display:block; background:url(../images/about_icon.png) no-repeat left; padding-left:30px; font-size:20px; color:#333333;}
.call dt p{ float:right; color:#999999;}
.call dd{ width:280px; float:left;  text-align:left; margin-left:13px;}
.call_text01{ margin-top:10px;}
.call_text01 input{ border:#cccccc 1px solid; width:160px; height:26px;}
.call .call_btn{ width:66px; height:26px; background:url(../images/about_line_23.png); line-height:26px; text-align:center; margin-left:100px; margin-top:16px; _margin-left:60px;}
.call_btn p{ color:white;}
.call_tel{ margin-top:16px; margin-bottom:16px; *+padding-bottom:16px;}
.call_tel span{width:280px;  float:left; display:block;}


/*悬浮广告*/

.adv{ width:200px; height:400px; border-radius:10px; background-color:#f5f5f5; position:fixed; left:86%; top:186px;border:1px #acd7c1 solid;z-index:999;}
.adv_01{ width:200px; height:160px; border-bottom:1px #ccc solid;}
.adv_01 dt{width:200px; display:block; overflow:hidden;}
.adv_01 dt img{ width:103px; height:103px; margin-left:52px;}
.adv_01 dd{width:200px; display:block; overflow:hidden; text-align:center; margin-top:20px;}
.adv_01 dd a{line-height:30px; font-size:14px;  color:#67c22e;}


.adv_02{width:200px; height:120px; border-bottom:1px #ccc solid;}
.adv_02 a{width:200px; display:block; text-align:center;font-size:14px;  color:#67c22e; margin-top:20px;}
.adv_02 p{width:200px; text-align:center; font-size:14px;  color:#67c22e;margin-top:20px;}
.adv_02 input{width:66px; height:26px; text-align:center; line-height:26px; background:url(../images/adv_line.png);font-size:14px;  color:white;margin-top:20px; margin-left:68px;  border:none; }


.adv_03{width:200px; display:block; overflow:hidden;}
.adv_03 dt{ width:84px; height:84px; float:left;}
.adv_03 dt a{width:84px; display:block; text-align:center;font-size:14px;  color:#67c22e; margin-top:16px;}
.adv_03 dt p{width:84px; display:block; text-align:center;font-size:14px;  color:#67c22e; margin-top:16px;}
.adv_03 dd{ float:right; margin-top:5px; margin-right:5px;}
.adv_03 dd img{ height:84px; width:84px;}
