@charset "utf-8";
/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #666666;font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;font-size: 12px;background:#f7f8fa;text-align:left;position:relative; line-height:18px;}
img {border: 0;position:relative;}
.clear {height:0px;line-height:0px;font-size:0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word;position:relative; border:none;}
a {color:#666666;text-decoration: none;position:relative;cursor:pointer;}
header, footer, nav, section, article, menu, aside {  display:block;position:relative;  } 
textarea { resize:none;}
table { border-collapse:collapse;border-spacing:0;}
th , td {
	text-align: center;
}
div{ margin:0 auto;}
.wrapper{ width:1200px; display:block; overflow:hidden;}
.w100{ width:100%; display:block; overflow:hidden;}

.top10{ margin-top:10px;}
.top20{ margin-top:20px;}
.top30{ margin-top:30px;}

.addcartorange{ display:block; width:136px; height:40px; border-radius:3px; -moz-border-radius:3px;-webkit-border-radius:3px; background:#ef7c00; text-align:center; color:#fff; float:left; font-size:16px; text-decoration:none; line-height:40px;}

body{ background:url(../images/background.png); background-size:100% 100%;}

/*类名*/
.red{ background:#607da0;}
.crumb_bo{ border-bottom:#e67817 2px solid; color:#333333}



/*main*/
.main{width:1200px; min-height:1200px;display:block; overflow:hidden; background:#354052; border-radius:20px; padding-bottom: 60px;;}
	
/*header*/
.header{width:100%; height:60px; float:left;}
.logo{width:190px; height:60px; float:left; border-left:#414e61 1px solid; border-bottom:#2d3747 1px solid; background:url(../images/logo.png) no-repeat center;}
.search{width:200px; height:30px; float:left; background:#2b3442; margin-top:15px; margin-left:80px; *+width:240px;}
.search input{height:30px; width:160px; border:none; float:left;background:#2b3442; color:white;*+width:120px;line-height:30px;}

.porfile{height:60px;float:right;position:relative;}.porfile dt{width:120px; display:block;overflow:hidden; float:left;}
.porfile dt a{ line-height:60px; display:block; color:white; font-size:16px;  background:url(../images/help.png) no-repeat left; padding-left:24px;}.porfile dd{width:304px; display:block;overflow:hidden; float:left;color:white; font-size:16px;margin-left:30px;}		
.porfile dd div{ width:40px; height:40px; margin-top:10px; float:left;}
.porfile dd div img{width:40px; height:40px; border-radius:20px;}
.porfile dd span{ display:block; float:left; height:60px;width:120px; line-height:60px; margin-left:10px; overflow:hidden;}
.porfile dd p{float:left; height:60px; line-height:60px; margin-left:10px;}


/*下拉菜单*/
#nav_guide{ display:block; background:#354052 url(../images/porfile_guide.png) no-repeat center; width:20px; height:60px; float:left; }
#porfile_subnav{ width:110px; height:auto; display:block; overflow:hidden; background:#354052; text-align:center;  position:absolute; right:32px; top:60px; display:none; z-index:10000;}
#porfile_subnav li{ width:100%; height:30px;}
#porfile_subnav a{width:100%; height:100%; display:block; color:white;}
#porfile_subnav a:hover{ background:#4e6683; line-height:30px;}



.content{width: 1200px; height:auto; display: block; overflow: hidden;}
/*左导航*/
.leftbar{ float:left;width:190px; min-height:1200px;}
.nav{width:100%; height:auto; display: block; overflow: hidden;}
.nav dt{width:100%;height:60px; border-bottom:#2d3747 1px solid; border-top:#4c5b71 1px solid; background:#01458d; }
.nav dd{width:100%;height:60px; border-bottom:#2d3747 1px solid; border-top:#4c5b71 1px solid; }
.nav dd:hover{ background:#4e6683;}

.nav a{width:100%; height:60px; display: block; color: white; font-size: 18px; line-height:60px; text-align: center;border-bottom: #2d3747;}


/*右边内容*/
.right_content{ float:left;width:1010px; min-height:1200px; background: white; background: #f5f5f5;;}
.right_box{width:950px; margin:0 auto; margin-top:30px;  height:auto; display:block; overflow:hidden;}
/*面包屑*/
.crumb{width:950px; height:40px; border-bottom:#d2d2d2 1px solid; float: left;}
.crumb dt{width:20px; height:40px; float:left;}
.crumb dt a{width:20px; height:40px; background:url(../images/crumb_house.png) no-repeat left; float:left; display:block;}
.crumb dd{width:830px; height:40px; float:left;}
.crumb dd p{height:40px; line-height:40px; float:left; font-size:16px;}
.crumb dd a{height:40px; line-height:40px; float:left; padding:0 8px; font-size:16px; }
.crumb .crumb_back{ float:right width:100px;}
.crumb .crumb_back a{ background:none; display:block; width:100px; height:40px; line-height:40px; font-size:16px;}


/*=============================validform==================================*/
	
.Validform_checktip{ margin-left:8px; line-height:20px; height:20px; overflow:hidden; color:#999; font-size:12px;   width: initial;}
.Validform_right{ color:#22A011; background:url(../images/tips_icon_right.png) no-repeat left center;background-position: 20px  center;	background-size:14px 14px;}
.Validform_wrong{ color:#EA5D0E;  white-space:nowrap; background:url(../images/tips_icon_wrong.png) no-repeat left center;background-position:30px  center;	background-size:14px 14px;}
.Validform_loading{ padding-left:20px; background:url(icon_onload.gif) no-repeat left center; }
.Validform_error{ background:#FEFBD3; }


/*=============================validform==================================*/
    
.Validform_checktip{ margin-left:8px; line-height:20px; height:20px; overflow:hidden; color:#999; font-size:12px;   width: initial;}
.Validform_right{ color:#22A011; background:url(../images/tips_icon_right.png) no-repeat left center;background-position: 20px  center; background-size:14px 14px;}
.Validform_wrong{ color:#EA5D0E;  white-space:nowrap; background:url(../images/tips_icon_wrong.png) no-repeat left center;background-position:30px  center; background-size:14px 14px;}
.Validform_loading{ padding-left:20px; background:url(icon_onload.gif) no-repeat left center; }
.Validform_error{ background:#FEFBD3; }


#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{ position:absolute; left:0px; top:-1px; z-index:-1; }
#Validform_msg .Validform_title{ position:relative; line-height:35px; height:35px; text-align:left; font-weight:bold; padding:0 10px; color:#fff; background:#33B5E5; }
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{ line-height:30px; position:absolute; right:10px; top:0px; color:#fff; text-decoration:none; }
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:10px;border:1px solid #bbb; border-top:none; text-align:left;}
/*=============================validform==================================*/

.apply_content dd div .hide{display:none;}
.apply_content dd .hide{display:none;}
.apply_content dt .hide{display:none;}
.apply_content .hide{display:none;}
/* zhangji 表格样式*/
.new_list{width:950px; height: auto;  margin-top: 30px; float: left; }
.new_list .list_title{ height: 40px; line-height: 40px; font-size: 16px; color: #333333; background: #f0f0f0;}
.new_list tr{height: 40px; line-height: 40px; font-size: 14px;  background: white;}
.new_list a{color: #01458d;}
.new_list th{color: #333333;font-size: 16px;background: #f0f0f0;line-height: 30px;  font-weight: inherit;}







