
.password{width:500px; height:300px; margin: 0 auto;margin-top: 100px;;}
.password dd,.password dt{width:550px; height:30px; margin-top: 20px;}
.password dd p{width:100px;;; height: 30px; display: block;float: left; text-align: right; font-size: 16px; line-height: 30px;}
.password dd input{width:300px; height:30px; float: left; margin-left: 10px;}
.password dt input{margin: 0 auto; width:60px; height: 30px; border: none; background: #e67817; font-size: 14px; color: white; border-radius: 4px; margin-left: 224px; margin-top: 30px;;}
.password dd span{display:block;line-height:30px;padding-left:10px;background:none;height:30px;}