.main{ width:1200px; display:block; overflow:hidden;}

/*左容器*/
.left_content{width:295px; display:block; overflow:hidden;float:left; margin-top:20px; }

/*左导航*/
.leftbar{width:295px; display:block; overflow:hidden; float:left; background-color:#85ce58;}
.leftbar dt{width:295px; height:78px; text-align:center; padding-top:30px;}
.leftbar dt a{ font-size:40px; color:#f38d05;}
.leftbar dt p{ color:#f38d05; font-size:20px; margin-top:10px; _margin-top:20px; *+margin-top:20px;}
.leftbar dd{ line-height:50px; text-align:center; height:50px;}
.leftbar_color{background-color:#008e45;}
.leftbar dd a{ font-size:20px; color:white;}

/*开展课程*/
.course{ width:293px; display:block; overflow:hidden; float:left; border:1px #acd7c1 solid; margin-top:20px;}
.course dt{width:270px; height:54px; margin-left:12px; line-height:54px; float:left; border-bottom:1px #acd7c1 solid; _margin-left:5px;}
.course dt a{ float:left; display:block; background:url(../images/about_icon.png) no-repeat left; padding-left:30px; font-size:20px; color:#333333;}
.course dt p{ float:right; color:#999999;}
.course dd{ height:34px; width:293px; line-height:px; float:left; line-height:34px; text-align:left;}
.course dd a{ background:url(../images/about_guide.png) no-repeat left; padding-left:22px; margin-left:13px;}

/*联系方式*/
.call{ width:293px; display:block; overflow:hidden; float:left; border:1px #acd7c1 solid; margin-top:20px;}
.call dt{width:270px; height:54px; margin-left:12px; line-height:54px; float:left; border-bottom:1px #acd7c1 solid; _margin-left:5px;}
.call dt a{ float:left; display:block; background:url(../images/about_icon.png) no-repeat left; padding-left:30px; font-size:20px; color:#333333;}
.call dt p{ float:right; color:#999999;}
.call dd{ width:280px; float:left;  text-align:left; margin-left:13px;}
.call_text01{ margin-top:10px;}
.call_text01 input{ border:#cccccc 1px solid; width:160px; height:26px;}
.call .call_btn{ width:66px; height:26px; background:url(../images/about_line_23.png); line-height:26px; text-align:center; margin-left:100px; margin-top:16px; _margin-left:60px;}
.call_btn p{ color:white;}
.call_tel{ margin-top:16px; margin-bottom:16px; *+padding-bottom:16px;}
.call_tel span{width:280px;  float:left; display:block;}

/*右容器*/
.right_content{width:880px; display:block; overflow:hidden;float:right; margin-top:20px; }
.right_title{ width:880px; height:40px; border-bottom:1px #acd7c1 solid; line-height:40px;}

.right_crouse{ margin-top:20px; width:880px; display:block; overflow:hidden;  }
.crouse{ width:880px; float:left; height:200px; padding:20px 0; border-bottom:1px #cccccc solid;}
.crouse dt{ width:200px; height:200px; float:left;}
.crouse dt img{ width:200px; height:200px;}
.crouse dd{width:560px; height:200px; float:left; overflow:hidden; margin-left:30px;}
.crouse dd a{ font-size:18px;}
.crouse dd p{ margin-top:20px;}
.crouse  input{ background-color:#008e45; width:60px; height:30px; color:white;  border:none; float:right; margin-top:20px; margin-right:30px;}



