@charset "utf-8";
/* CSS Document */

/****注册register****/
.head{
	width:100%;
	height:320px;
	background:url(../images/regist_bg1.png) no-repeat center top;
}
.head .logo img{
	margin-top:30px;

}
.head .logo p{
	margin-top:10px;
	font-size:16px;
	color:#fefefe;
}
.head ul{
	overflow:hidden;
	margin:0 auto;
	margin-top:20px;
	width:540px;
}
.head ul li{
	float:left;
	margin:0 15px;
	_margin:0 10px;
	width:150px;
	_height:50px;
}
.head ul li a{
	display:block;
	width:inherit;
	height:50px;
	line-height:50px;
	border:solid 1px #FFFFFF;
	box-sizing:border-box;
	font-size:20px;
	color:#fefefe;
}
.head ul .sel a{
	border:none;
	background:#ffffff;
	color:#01468f;
}
.head ul .sel i{
	display:block;
	margin:0 56px;
	margin-top:10px;
	width:38px;
	height:21px;
	background:url(../images/triangle.png) no-repeat center bottom;
}
.register{
	padding:10px 0;
	width:1200px;
	height:680px;
}
.register div{
	overflow:hidden;
	margin-top:20px;
	margin-left:410px;
	*+margin-left:200px;           /*IE 7*/
	_margin-left:200px;            /*IE 6*/
	_height:48px;                 /*IE 6*/
}
.register div input{
	position:relative;
	padding-left:46px;
	padding-right:10px;
	width:376px;
	height:50px;
	line-height:50px;
	border:solid 1px #dddddd;
	box-sizing:border-box;
	font-family:"Microsoft YaHei";
	font-size:16px;
	color:#999999;
	
}
.register div input,span{float:left;}
.register div i{
	display:block;
	position:absolute;
	left:0px;
	*+left:200px;                /*IE 7*/
	_left:200px;                /*IE 6*/
	margin:0 11.5px;
	width:23px;
	height:50px;
	background:url(../images/regist_icon1.png) no-repeat left center;
	z-index:1;
}
.register div .i1{
	background-position:0px center;
}
.register div .i2{
	background-position:-23px center;
}
.register div .i3{
	background-position:-46px center;
}
.register div .i4{
	background-position:-69px center;
}
.register div .i5{
	background-position:-92px center;
}
.register div .i6{
	background-position:-115px center;
}
/*验证码*/
.register div .inpt5{
	width:232px;
}
.register div .inpt5_1{
	padding:0;
	width:144px;
	*+height:52px;           /*IE 7*/
	border:none;
	background:#dddddd;
	color:#fefeff;
}
/*=============================validform==================================*/
	
.Validform_checktip{ margin-left:8px; line-height:20px; height:20px; overflow:hidden; color:#999; font-size:12px; }
.Validform_right{ color:#22A011; padding-left:20px;background:url(../images/tips_icon_right.png) no-repeat left center;background-position: 0 center;	background-size:14px 14px;}
.Validform_wrong{ color:#EA5D0E; padding-left:20px; white-space:nowrap; background:url(/client/images/tips_icon_wrong.png) no-repeat left center;background-position:0 center;	background-size:14px 14px;}
.Validform_loading{ padding-left:20px; background:url(icon_onload.gif) no-repeat left center; }
.Validform_error{ background:#FEFBD3; }

#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{ position:absolute; left:0px; top:-1px; z-index:-1; }
#Validform_msg .Validform_title{ position:relative; line-height:35px; height:35px; text-align:left; font-weight:bold; padding:0 10px; color:#fff; background:#33B5E5; }
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{ line-height:30px; position:absolute; right:10px; top:0px; color:#fff; text-decoration:none; }
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:10px;border:1px solid #bbb; border-top:none; text-align:left;}
/*=============================validform==================================*/

.register div span{
	margin-left:20px;
	height:50px;
	line-height:50px;
	color:#999999;
}
.register div span a{
	color:#e77917;
}
.register div .span5{
	font-size:12px;
	float:left;
	display:block;
	width:100%;
	margin-left:0px;
}
.register div span b{
	float:left;
	display:block;
	margin-right:4px;
	width:16px;
	height:50px;
	background:url(../images/tips_icon.png) no-repeat left center;

}
.register div span .b2{
	background-position:-16px center;
}
.register div span .b3{
	background-position:-32px center;
}

.register div .check{
	width:13px;
	height:13px;
}
.register div .span6{
	margin-top:2.5px;
	margin-left:10px;
	height:20px;
	line-height:20px;
}
.register .sure{
	*+margin-left:400px;            /*IE 7*/
	_margin-left:400px;             /*IE 6*/
}
.register div .ipt8{
	cursor:pointer;
	padding:0;
	width:376px;
	*+width:430px;            /*IE 7*/
	_width:430px;             /*IE 6*/
	height:50px;
	border:none;
	background:#e77917;
	font-size:20px;
	color:#ffffff;
}
/*zhangji*/
.register div .ipt8:hover{background:#FF0F00;}

/*登录login*/
.register div .span6{
	margin-left:0;
}
.register div .span7 a{
	color:#999999;	margin-left:170px;
}
.register div .span8{
	margin-left:230px;
}
.register .yzm a{
	float:left;
	display:block;
}

/*==============zhangji========================*/
.register div .rmbUser input{height:70px;width:70px;}



























