@charset "utf-8";

/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #666666;font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size: 12px;background:#ffffff;text-align:left;line-height:18px;}
img {border: #666 1px solid;}
.clear {height:0px;line-height:0px;font-size:0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word; border:none;}
a {color:#666666;text-decoration: none;cursor:pointer;}
header, footer, nav, section, article, menu, aside {  display:block;position:relative;} 
textarea { resize:none;}
table { border-collapse:collapse;border-spacing:0;}
th , td { text-align:left;}
b,strong{font-weight:normal;}
div{ margin:0 auto;text-align:center;}
.wrapper{ width:1200px; display:block; overflow:hidden;background: url(../l_images/logo.png) no-repeat;height: 75px;}

@media screen and (max-width:1366px){
    .wrapper{ width:1000px;}
}

.w100{ width:100%; display:block; overflow:hidden;}
/*头部*/
.wrapper-nav{margin-left: 194px; }
.wrapper-nav li{float: left;font-size: 16px;color: #333;line-height: 62px;margin:0 1px;padding: 0 19px;}
.wrapper-nav li:hover{border-bottom: 3px solid #02458E;}
.wrapper-nav .active{border-bottom: 3px solid #02458E;}
.logoin{float: right;font-size: 12px;color: #666; }
.logoin a{line-height: 74px;}
.logoin span{padding: 0 5px;}
@media screen and (max-width:1366px){
    .wrapper-nav li{ font-size:16px;padding:0 8px;}
    .wrapper{ height:64px}
    .logoin a{height:64px;line-height:64px;}
}
/*头部end*/
/*底部*/
.footlist{width: 100%;/*height: 227px;*/background: #363636;text-align: center;}
.footlist-title{background: #2E2E2E;height: 45px;line-height: 32px;}
.footlist-title .footlist-title-title{padding-right: 5px;}
.footlist ul{width: 1000px;margin: 0 auto;color: #cccccc;}
.footlist ul li{float: left;font-size: 14px;white-space:nowrap;}
.footlist ul li a{color: #cccccc;white-space:nowrap;}
.footlist ul li span{padding:0 4px; }
.footlist h5{font-weight: normal;line-height: 32px;color: #999999;font-size: 12px;text-align: left;}
.footlist-body{width: 1000px;margin-top: 32px;}
.footlist-body .footercode{margin-top: -123px;float: right;}
.footlist-body .footercode img{width: 98px;height: 98px;}
.footlist-body .footercode p{color: #fff;}
/*底部end*/

/*banner*/
/*
.listbanner{width:100%;height:200px;position:relative;overflow: hidden;}
.listbanner img{position:absolute;top:0;overflow: hidden;}
.listbanner div{position:absolute;top:100px;width:100%;color:#fff;text-align:center;font-size:50px;}
.listbanner div span{line-height:66px;text-shadow: 3px 3px 15px #888888;}
*/
.listbanner{width:100%;height:200px;position:relative;overflow: hidden;}
.listbanner img{position:absolute;top:0;overflow: hidden;}
.listbanner div{position:absolute;top:100px;width:100%;color:#fff;text-align:center;font-size:50px;}
.listbanner div span{text-shadow: 3px 3px 15px #888888;}
/*foot*/
.foot_back {
	width: 100%;
	height: 88px;
	margin-top: 46px;
	background-color: #e5e5e5;
}
.foot_back .foot {
	width: 1000px;
}
.foot_back .foot .foot1, .foot_back .foot .foot2, .foot_back .foot .foot3 {
	float: left;
	color: #333333;
	font-size: 12px;
	line-height: 88px;
}
.foot_back .foot .foot1 {
	width: 580px;
}
.foot_back .foot .foot2 {
	width: 160px;
}
.foot_back .foot .foot3 {
	width: 260px;
}

/*页码*/
.page_number{
	overflow:hidden;
	padding:20px 0px;
	width:260px;
}
.page_number a{
	float:right;
	display:block;
	margin-left:5px;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	color:#666666;
	border-radius:50%;
	background:#ebebeb;
}
.page_number .first{
	background: url(../images/first_last_arrow_bg.png) no-repeat 0 center;
	_position:absolute;  	 /*IE 6*/
	_top:20px;				 /*IE 6*/
	_right:205px;			 /*IE 6*/
}
.page_number .last{
	background: url(../images/first_last_arrow_bg.png) no-repeat -24px center;
}
.page_number .sel{
	background:#00448c;
	color:#ffffff;
}
.page_number span{
	float:right;
	display:block;
	margin-left:5px;
	width:24px;
	height:24px;
	line-height:20px;
	text-align:center;
	color:#00a1e9;
}

/*清浮动*/
.clearl{zoom:1;}
.clearl:after{content: "";display: block;clear: both;}
/*清浮动end*/



