/*琛ㄦ峰*/
.list_base{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base .list_active a{ color: #01458d;}
.list_base dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}

.list_base dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*哄跨＄-浼涓琛*/
.list_base1{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base1 dl{width:16%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base1 .list_active1 a{ color: #01458d;}
.list_base1 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base1 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*琛ㄩ*/
.list_color_blue a{color:#0ab2cb}
.list_color_yellow a{color:#e67817}
.list_color_green a{color:#529c15}




/*哄跨＄-娲诲ㄥ琛*/
.list_base0{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base0 dl{width:20%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base0 .list_active0 a{ color: #01458d;}
.list_base0 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base0 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}



/*哄跨＄-娲诲ㄥ琛-棰17浼涓17㈤17*/
.list_base2{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base2 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base2 .list_active2 a{ color: #01458d;}
.list_base2 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base2 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*哄跨＄-娲诲ㄥ琛-ㄨ浼涓㈤17*/
.list_base3{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base3 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base3 .list_active3 a{ color: #01458d;}
.list_base3 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base3 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}
.list_base3{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base4 dl{width:20%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base4 .list_active3 a{ color: #01458d;}
.list_base4 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base4 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*妗ｆ璺韪-浼涓琛*/
.list_base5{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base5 dl{width:16%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base5 .list_active5 a{ color: #01458d;}
.list_base5 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base5 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*涓瀹剁＄-杈瀵间涓*/
.list_base6{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base6 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base6 .list_active6 a{ color:#01458d;}
.list_base6 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base6 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*涓瀹剁＄-娲诲ㄥ琛*/
.list_base7{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base7 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base7 .list_active7 a{ color:#01458d;}
.list_base7 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base7 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*涓瀹剁＄-璺婕杈瀵*/
.list_base8{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base8 dl{width:20%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base8 .list_active8 a{ color:#01458d;}
.list_base8 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base8 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}
.btwz{font-family:"寰杞榛"; font-size:18px; text-align:center;}

/*涓瀹剁＄-娲诲ㄥ琛-娲诲ㄨ*/
.list_base9{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base9 dl{width:33%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base9 .list_active9 a{ color:#01458d;}
.list_base9 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base9 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}


/*娲诲ㄧ＄-娲诲ㄥ琛*/
.list_base10{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base10 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base10 .list_active10 a{ color:#01458d;}
.list_base10 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base10 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

/*浼涓㈤-绔娑*/
.list_base11{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base11 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base11 .list_active11 a{ color:#01458d;}
.list_base11 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base11 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}
.btwz_1{ font-size:18px; float: left; margin-top: 20px;}



/*浼涓㈤-娲诲ㄩ〉*/
.list_base12{width:98%; padding-left: 1%;padding-right: 1%; height: auto; display: block; overflow: hidden; padding-top: 30px;}
.list_base12 dl{width:25%; height:auto; display: block; overflow: hidden;float: left; text-align: center;}
.list_base12 .list_active12 a{ color:#01458d;}
.list_base12 dl dt{width: 100%; height:30px; color: #333333; font-size: 16px; background: #f0f0f0; line-height: 30px;}
.list_base12 dl dd{width: 100%; height:40px; color: #666666; font-size: 14px; background: white; line-height: 40px; border-bottom:#f0f0f0 1px solid ;}

