@charset "utf-8";

/* CSS Document */
* {padding: 0;margin: 0;}
body {margin: 0px;padding: 0px;color: #666666;font-family:"微软雅黑", Arial, Helvetica, sans-serif;font-size: 12px;background:#ffffff;text-align:left;line-height:18px;}
img {border: 0;}
.clear {height:0px;line-height:0px;font-size:0px;clear:both;visibility:hidden;overflow:hidden;padding:0;margin:0;}
div,ul,dl,dd,dt,li,td,tr,table,p,span,h1,h2,h3,h4,h5,h6,form{ margin:0px;  padding:0px; list-style:none; list-style-type: none; word-wrap:break-word; border:none;}
a {color:#666666;text-decoration: none;cursor:pointer;}
a:hover{ text-decoration:underline;}
header, footer, nav, section, article, menu, aside {  display:block;position:relative;} 
textarea { resize:none;}
table { border-collapse:collapse;border-spacing:0;}
th , td { text-align:left;}
div{ margin:0 auto;}
.wrapper{ width:1200px; display:block; overflow:hidden;background: url(../img/logo.png) no-repeat;height: 75px;}
.w100{ width:100%; display:block; overflow:hidden;}
/*头部*/
.wrapper-nav{margin-left: 194px;}
.wrapper-nav li{float: left;font-size: 16px;color: #333;line-height: 62px;margin:0 1px;padding: 0 19px;}
.wrapper-nav li:hover{border-bottom: 3px solid #02458E;}
.wrapper-nav .active{border-bottom: 3px solid #02458E;}
.logoin{float: right;font-size: 12px;color: #666;}
.logoin a{line-height: 74px;}
.logoin span{padding: 0 5px;}
/*头部end*/
/*底部*/
.footlist{width: 100%;height: 195px;background: #363636;text-align: center;}
.footlist-title{background: #2E2E2E;height: 45px;line-height: 45px;}
.footlist-title .footlist-title-title{padding-right: 5px;}
.footlist ul{width: 1000px;margin: 0 auto;color: #cccccc;}
.footlist ul li{float: left;font-size: 14px;}
.footlist ul li a{color: #cccccc;}
.footlist ul li span{padding:0 4px; }
.footlist h5{font-weight: normal;line-height: 32px;color: #999999;font-size: 12px;text-align: left;}
.footlist-body{width: 1000px;margin-top: 12px;}
.footlist-body .footercode{margin-top: -123px;float: right;}
.footlist-body .footercode img{width: 98px;height: 98px;}
.footlist-body .footercode p{color: #fff;}
/*底部end*/
/*清浮动*/
.clearl{zoom:1;}
.clearl:after{content: "";display: block;clear: both;}
/*清浮动end*/


/*=============================validform==================================*/
.Validform_checktip{ margin-left:8px; line-height:20px; height:20px; overflow:hidden; color:#999; font-size:12px;   width: initial;}
.Validform_right{ float:initial; color:#22A011;background-position: 20px  center; background-size:14px 14px;}
.Validform_wrong{ float:initial; color:#EA5D0E;  white-space:nowrap;background-position:30px  center; background-size:14px 14px;}
.Validform_loading{ padding-left:20px; background:url(icon_onload.gif) no-repeat left center; }
.Validform_error{ background:#FEFBD3; }


#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{ position:absolute; left:0px; top:-1px; z-index:-1; }
#Validform_msg .Validform_title{ position:relative; line-height:35px; height:35px; text-align:left; font-weight:bold; padding:0 10px; color:#fff; background:#33B5E5; }
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{ line-height:30px; position:absolute; right:10px; top:0px; color:#fff; text-decoration:none; }
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:10px;border:1px solid #bbb; border-top:none; text-align:left;}
