@charset "utf-8";
/* CSS Document */
.content{ width:1200px; display:block; overflow:hidden; margin-top:30px;  }
.content .content_1{ width:217px; float:left; display:block; overflow:hidden; }
.content .content_2{ width:953px; margin-left:30px; float:left; display:block; overflow:hidden;min-height:500px;}
.content .content_1 .content_1_1{ width:217px; height:15px; background:url(../images/icon_2.png) no-repeat; float:left;}
.content .content_1 .content_1_3{ width:217px; height:15px; background:url(../images/icon_3.png) no-repeat; float:left;}
.content .content_1 .content_1_2{width:217px; background:#1d73be; display:block; overflow:hidden; _margin-top:-2px; float:left;}
.content .content_1 .content_1_2 ul{width:217px; float:left; }
.content .content_1 .content_1_2 ul .li_su{ width:217px; font-size:18px; color:#fff; border-bottom:1px solid #fff; padding-bottom:15px; list-style:none; margin-left:0px;text-align:center; line-height:30px }
.content .content_1 .content_1_2 ul .li_su b{ font-size:14px;}
.content .content_1 .content_1_2 ul li{ margin-left:35px; *+margin-left:30px;}
.content .content_1 .content_1_2 ul li a{ color:#fff; font-size:14px;    line-height:30px; padding-left:30px; background:url(../images/icon_5.png) no-repeat 10px 6px; margin-left:20px; text-indent:10px;}
.content .content_1 .content_1_2 ul li a:hover{ color:#fda32a;} 
.content .content_1 .content_1_2 ul .li_nav{ color:#fda32a; width:167px;   line-height:30px;  background:url(../images/icon_4.png) no-repeat 10px 6px; margin-left:20px;text-indent:10px;}
.content .content_2 ul .li_su{ _height:20px; border-bottom:1px solid #dddddd; height:30px; line-height:20px;}
.content .content_2 ul .li_su strong{ font-size:18px; display:block; float:left; width:300px;}
.content .content_2 ul .li_su b{ text-align:right; display:block; float:left; width:653px; }
.content .content_2 ul li{ border-bottom:1px dashed #dddddd; height:40px; line-height:40px;}
.content .content_2 ul li a span{ display:block; float:left; /*width:833px; _width:780px;*/ overflow:hidden; height:40px; margin-right:50px;}
.content .content_2 ul li a label{ display:block; float:right; width:70px;}


.content .content_2 ul li a .tu{ background:url(../images/icon_6.png) no-repeat 25px 16px; padding-left:50px;}




.content .content_2 h2{ text-align:center; margin:10px 0px;}
.content .content_2 p{ text-indent:2em; display:block; overflow:hidden; line-height:28px;}


.content .content_1 .content_1_L{width:217px; background:#1d73be; display:block; overflow:hidden; _margin-top:-2px; float:left;}
.content .content_1 .content_1_L ul{width:217px; float:left; }
.content .content_1 .content_1_L ul li{ width:217px;   border-bottom:1px solid #fff; text-align:center; line-height:30px; float:left; padding-top:10px;}
.content .content_1 .content_1_L ul li a{ width:217px; color:#FFF;}
.content .content_1 .content_1_L ul li a strong{ font-size:18px;}
.content .content_1 .content_1_L ul li a strong:hover {color:#fda32a;text-decoration:none;}
.content .content_1 .content_1_L ul li a b{font-size:14px;}
.content .content_1 .content_1_L ul li .lv{color:#fda32a;}

.pagelist{color: #666;}
.pagelist .default{margin-top: 20px; width: 953px; text-align: right;}
.pagelist .default label{color: #ed0000;}
.pagelist .default .current{ color: #999;}

