<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/cooperation.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--header-->
<div class="header">
	<img class="logo" src="images/index_logo.png"/>
    <form>
    <div class="search">
    	<input class="search_text" type="" value="请输入课程" />
        <input style=" width:51px; height:41px; background-color:#008e45; color:white; font-size:14px;" type="button" value="搜索" />
    </div>
    </form>
    <div class="share">
    	<div class="share_icon">
        	<img src="images/index_share_icon01.png"/>
            <img src="images/index_share_icon02.png"/>
            <img src="images/index_share_icon03.png"/>
        </div>
        <p>好教育，到立学，一键分享！</p>
        <p>联系电话：123456123</p>
    </div>
	<div class="mark">
    	<img src="images/index_mark.png" />
        <p>二维码，扫一扫</p>
    </div>
</div>
<!--nav-->
<div class="main_nav">
	<div class="right_nav">
	<ul class="nav">
        <li><a  href="#" title="">首页</a></li>
        <li><a  href="#" title="">关于我们</a></li>
        <li><a  href="#" title="">新闻中心</a></li>
        <li><a  href="#" title="">名师精英</a></li>  
        <li><a  href="#" title="">课程设置</a></li>
        <li><a  href="#" title="">合作加盟</a></li>
        <li><a  href="#" title="">招贤纳才</a></li>
        <li><a  href="#" title="">资料下载</a></li>
    </ul>
    </div>
</div>

<!--main-->
<div class="main">
	<!--left_content-->
	<div class="left_content">
    <dl class="leftbar">
        	<dt><a>COURSE</a><p>课程设置</p></dt>
            <dd class="leftbar_color"><a>中小学课程辅导
</a></dd>
            <dd><a>学历教育</a></dd>
            <dd><a>职业资格证培训</a></dd>
        </dl>
    
    <dl class="course">
   	  <dt><a>开展课程</a><p>更多&gt;&gt;</p></dt>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
        <dd><a>学校简介</a></dd>
    </dl>
    <dl class="call">
    	<dt><a>开展课程</a><p>更多&gt;&gt;</p></dt>
        <dd class="call_text01">
        	<a>学校简介:</a>
            <input type="" value="" />
        </dd>
        <dd class="call_text01">
        	<a>学校简介:</a>
            <input type="" value="" />
        </dd>
        <dd class="call_btn">
        	<p>立即联系</p>
        </dd>
        <dd class="call_tel">
        	<span>报名热线：400-0011-652</span>
        	<span>咨询老师：刘老师</span>
        	<span>点击咨询：<img src="images/about_qq_27.png" />&nbsp;QQ交谈</span>
        </dd>
    </dl>
    </div>
    
    <!--right_content-->
    <div class="right_content">
    	<div class="right_title">
	        <a>首页&nbsp;&gt;&nbsp;</a>
	        <a>课程介绍&nbsp;&gt;&nbsp;</a>
	        <a>课程报名</a>
	    </div>
	 
	    <div class="right_crouse">
		    <div class="crouse_title">
		    	<a>****公司 : 这是别人的留言，或者信息是别人的留言，或者信息是别人的留言，或者信息是别人的留言，或者信息是别人的留言，或者信息是别人的留言，或者信息是别人的留言，或者信息是别人的留言，或者信息</a>
		    	<p>A ：这是回答，这是一些回答这是回答，这是一些回答这是回答，这是一些回答这是回答，这是一些回答这是回答，这是一些回答这是回答，这是一些回答这是回答，这是一些回答这是回答，这是一些回答</p>
		    </div>
		     
			<!--message-->
			<dl class="message">
				<dd>
			    	<span>姓名 ： </span>
			        <input type="" value=""/>
			    </dd>
			    <dd>
			    	<span>电话 ： </span>
			        <input type="" value=""/>
			    </dd>
			    <dd>
			    	<span>Email ： </span>
			        <input type="" value=""/>
			    </dd>
			    <dd>
			    	<span>QQ ： </span>
			        <input type="" value=""/>
			    </dd>
			    <dd class="message_box">
			    	<span>留言 ： </span>
			        <textarea name="" cols="" rows=""></textarea>
			        <a>可输入200字</a>
			    </dd>
			    <dd class="message_btn">
			        <input type="button" value="报名"/>
			    </dd>
			</dl>
	    </div>
        
        
        
        
        
        
        

</div>
</div>











<!--footer-->
<div class="footer">
	<div class="footer_box">
	<div class="footer_box_01">
    	<img src="images/footer_logo.png" />
        <ul class="footer_coperit">
        	<li><a>合作公司：</a></li>
            <li><a href="#" title="">立学教育</a></li>
            <li><a href="#" title="">立学教育</a></li>
            <li><a href="#" title="">立学教育</a></li>
            <li><a href="#" title="">立学教育</a></li>
            <li><a href="#" title="">立学教育</a></li>
            <li><a href="#" title="">立学教育</a></li>
            <li><a href="#" title="">立学教育</a></li>
            <li><a href="#" title="">立学教育</a></li>
            <li><a href="#" title="">立学教育</a></li>
        </ul>
    </div>
    <div class="footer_box_02"></div>
    <div class="footer_box_03">
    	<a>地址：重庆市渝北区龙塔街道朗俊行政中心3栋感知科技孵化园11-2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        电话：023-67708530&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        电话：023-67708530&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        电话：023-67708530</a>
    </div>
    <div class="footer_box_04"><a>免责声明:如果侵犯了你的权益，请发邮件至：xiamp4com@gmail.com，我们会及时删除侵权内容，谢谢合作！</a></div>
    <div class="footer_box_05"><a>Copyright © 2014 2tu.cc. All Rights Reserved.</a> </div>
    </div>
</div><!--footer_end-->

</body>
</html>
